@font-face {
font-family: 'quadranta';
src: url('quadranta.eot?') format('eot'),
     url('quadranta.otf') format('truetype'),
     url('quadranta.woff') format('woff'),
     url('quadranta.svg#QuadrantaBold') format('svg');
font-weight: normal;
font-style: normal;
}	
.roboto {
    font-family: 'roboto', sans-serif;
}
.entete {
    color: aqua;
     font-family: 'Josefin Sans', sans-serif;
}
.josephin {
    font-family: 'Josefin Sans', sans-serif;
}
h4 {
font-family:quadranta, sans-serif;
font-size:1em;
}

.arrondiombre  {
box-shadow: 10px 10px 5px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
margin: 20px;
}
.vignette {
    background-color: red;
}
.liste {
    background-color: blue;
}
.bandeau {
 
background-color: blueviolet;

}
// portion de css lydia 
.card {
        width: 20rem; 
        margin: 5px 5px 5px 5px;
}

.card h4 {
        font-size: 1.25rem;
}

.media {
        padding-left: 0px;
        list-style: none;
        display: flex;
        align-items: flex-start;
        width: 100%
        border: none;
        margin: 10px 0px 10px 0px;
}


.media card-body {
        flex: 1 1 0%;
        padding-left: 50px;
}


.media img {
        width: 64px;
        height: 64px;
        margin-top: 26px;
}


#switcher {
        cursor: pointer;
}

.checked
{
    background-color: antiquewhite;
    text-decoration:line-through
}

